#main4 {
  width: 100vw;
  height: 230vh;
  display: block;
  position: absolute;
}
#main_fundal4 {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background-color: rgb(219, 192, 173);
}

.baza_font_main1 {
  font-size: large;
  font-style: normal;
  font-family: "Jersey 20";
  font-weight: 1000;
  color: rgb(0, 0, 0);
}
.divpoze {
  display: flex;
  position: relative;
  height: fit-content;
  width: 100%;
}

#cors {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 12%;
  padding-bottom: 5%;
}

#fury {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 15%;
  padding-bottom: 5%;
}

#ares {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 19%;
  padding-bottom: 5%;
}

#adata {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 12%;
  padding-bottom: 5%;
}

#king {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 19%;
  padding-bottom: 5%;
}

#cs {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 18%;
  padding-bottom: 5%;
}

#gd {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 12%;
  padding-bottom: 5%;
}

#crs {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 19%;
  padding-bottom: 5%;
}

#fry {
  display: block;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding-left: 18%;
  padding-bottom: 5%;
}
